@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.tag {
  position: relative;
  font-size: .875rem;
  font-weight: 700;
  color: $white;
  padding: .5rem .75rem;
  margin-top: 25px;
  margin-right: 1rem;
  min-width: 90px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  &__text {
    flex: 1;
  }
  &__icon {
    cursor: pointer;
    margin-left: .5rem;
    align-self: flex-end;
  }
}

.tag.tag--ingredients {
  background: $bg-blue;
}

.tag.tag--ingredients .tag__icon:hover {
  fill: complement($bg-blue);
}

.tag.tag--appliances {
  background: $bg-green;
}

.tag.tag--appliances .tag__icon:hover {
  fill: complement($bg-green);
}

.tag.tag--ustensils {
  background: $bg-orange;
}

.tag.tag--ustensils .tag__icon:hover {
  fill: complement($bg-orange);
}