@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.main {
  font-family: Lato, sans-serif;
}
.search {
  position: relative;
  display: flex;
  flex-direction: column;
  &__searchbar {
    position: relative;
    margin-bottom: 25px;
    input {
      width: 100%;
      height: 70px;
      padding-left: 22px;
      border: none;
      background: $bg-lightgrey;
      border-radius: 5px;
      font-size: 1.125rem;
    }
    img {
      position: absolute;
      top: 50%;
      right: 0;
      margin-right: 15px;
      transform: translateY(-50%);
    }
  }
  &__selected-tags {
    display: flex;
    margin-bottom: 25px;
  }
  &__dropdowns {
    position: absolute;
    display: flex;
    align-items: flex-start;
    margin-top: 156px;
  }
}
.gallery {
  position: relative;
  display: grid;
  min-height: 30vh;
  margin-top: 95px;
  margin-bottom: 25px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  @include responsive(md) {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive(lg) {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  &__empty {
    position: absolute;
    display: flex;
    inset: 0;
    p {
      margin: auto;
      color: dimgray;
      font-size: 2rem;
      font-weight: 700;
      text-shadow: 1px 1px 3px rgba(0,0,0,.25);
    }
  }
}